<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Properties>
        <Property name="layout">%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%thread] [%logger] %message%n</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${layout}"/>
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="org.hibernate.SQL" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Logger name="com.eighthours" level="debug" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>
        <Root level="info">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
